.LeftSideLayout{
    min-height: 100%;
    background: rgb(255, 255, 255);
    width: 100%;
  flex-direction: column;
    display: flex;
      align-items: center;
    justify-content: flex-start;
    align-content: center;
    justify-items: flex-start;
    overflow-y: scroll;
    border-right: 3px solid #2771C9;
    


}
.LeftSideLayout .Title{
    color: #2771C9;
    font-size: 40px;


}
.LeftSideLayout::-webkit-scrollbar {
  display: none;
}
.taskbox{
    flex-direction: row;
    display: flex;
    border-bottom: #2771C9 1px solid;

}
.taskbox:hover{
  cursor: pointer;
    
}
.taskbox p{
    margin-left: 2px;
}