.WindowLayout{
    position: absolute;
    max-width: 80%;
    max-height: 30rem;
    background-color: white;
    border: black solid 1px;
   
    flex-direction: column;
    display: flex;
      align-items: center;
    justify-content: flex-start;
    align-content: center;
    justify-items: flex-start;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;

}
.WindowLayout p{
    color: #2771C9;
    font-size: 40px;

}
.WindowLayout .title{
    border: 1px solid black;
    width: 80%;
    margin: 1rem;
    height: 2rem;

}

.WindowLayout .desc{
    border: 1px solid black;
    width: 80%;
    min-height: 10rem;
    margin: 1rem;
    height: 2rem;

}
.EnterBtm{
    background-color: white;
    color: black;
    border:  1px solid black;
    width: 6rem;
    height: 2rem;
     display: flex;
      align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    flex-direction: row;
    border-radius: 30px;
}
.EnterBtm:hover{
    background-color: black;
    color: white;
    border:  1px solid black;
    cursor: pointer;
}